#THEORY QUESTIONS

### 1. **What are data structures, and why are they important?**  
Data structures are organized methods to store, access, and manipulate data efficiently. They are important for solving complex problems, enhancing performance, and optimizing memory usage.

### 2. **Explain the difference between mutable and immutable data types with examples.**  
Mutable types can be changed after creation (e.g., `list`, `dict`), while immutable types cannot (e.g., `int`, `tuple`). For example, a `list` can have elements added, but a `tuple` cannot.

### 3. **What are the main differences between lists and tuples in Python?**  
Lists are mutable, dynamic, and can be modified, while tuples are immutable, fixed in size, and faster for iteration.

### 4. **Describe how dictionaries store data.**  
Dictionaries store data as key-value pairs in a hash table, allowing for fast lookups by computing a hash of the key.

### 5. **Why might you use a set instead of a list in Python?**  
Sets are used to store unique elements and perform operations like union or intersection efficiently, whereas lists allow duplicates.

### 6. **What is a string in Python, and how is it different from a list?**  
A string is an immutable sequence of characters, while a list is a mutable sequence that can store multiple data types.

### 7. **How do tuples ensure data integrity in Python?**  
Tuples are immutable, so their contents cannot be altered after creation, ensuring consistent and unmodifiable data.

### 8. **What is a hash table, and how does it relate to dictionaries in Python?**  
A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python use hash tables to enable quick key-value lookups.

### 9. **Can lists contain different data types in Python?**  
Yes, Python lists can store elements of different data types, such as integers, strings, and even other lists.

### 10. **Explain why strings are immutable in Python.**  
Strings are immutable to enhance performance and security, allowing them to be safely shared and reused without unintended modifications.

### 11. **What advantages do dictionaries offer over lists for certain tasks?**  
Dictionaries provide fast key-based lookups and are more efficient than lists for associating and retrieving related data.

### 12. **How do sets handle duplicate values in Python?**  
Sets automatically remove duplicate values, ensuring all elements are unique.

### 13. **Describe a scenario where using a tuple would be preferable over a list.**  
Tuples are preferable when the data should not change, such as storing coordinates (x, y) or defining constants.

### 14. **How does the “in” keyword work differently for lists and dictionaries?**  
For lists, `in` checks for a value; for dictionaries, `in` checks for the existence of a key.

### 15. **Can you modify the elements of a tuple? Explain why or why not.**  
No, tuples are immutable, so their elements cannot be changed, ensuring data consistency.

### 16. **What is a nested dictionary, and give an example of its use case.**  
A nested dictionary is a dictionary within another dictionary, useful for hierarchical data like storing student grades by subject.

### 17. **Describe the time complexity of accessing elements in a dictionary.**  
Accessing elements in a dictionary has an average time complexity of \(O(1)\) due to hash-based lookups.

### 18. **In what situations are lists preferred over dictionaries?**  
Lists are preferred for ordered collections, sequential access, or when elements do not need unique keys.

### 19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**  
Dictionaries are unordered because they use hashing for key-value storage, meaning retrieval is based on keys, not order.

### 20. **Explain the difference between a list and a dictionary in terms of data retrieval.**  
Lists retrieve elements by index (position), while dictionaries retrieve values by unique keys, making dictionaries faster for lookups.

#PRACTICAL QUESTIONS

In [3]:
# Q1. Write a code to create a string with your name and print it
name = "Aditya"
print(name)

Aditya

In [4]:
# Q2. Write a code to find the length of the string "Hello World"
string_length = len("Hello World")
print(string_length)

11

In [5]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming"
sliced_string = "Python Programming"[:3]
print(sliced_string)

Pyt

In [6]:
# Q4. Write a code to convert the string "hello" to uppercase
uppercase_string = "hello".upper()
print(uppercase_string)

HELLO

In [7]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
replaced_string = "I like apple".replace("apple", "orange")
print(replaced_string)

I like orange

In [8]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it
number_list = [1, 2, 3, 4, 5]
print(number_list)

[1, 2, 3, 4, 5]

In [9]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list_to_append = [1, 2, 3, 4]
list_to_append.append(10)
print(list_to_append)

[1, 2, 3, 4, 10]

In [10]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list_to_remove = [1, 2, 3, 4, 5]
list_to_remove.remove(3)
print(list_to_remove)

[1, 2, 4, 5]

In [12]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list_access = ['a', 'b', 'c', 'd']
second_element = list_access[1]
print(second_element)

b

In [13]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50]
list_to_reverse = [10, 20, 30, 40, 50]
list_to_reverse.reverse()
print(list_to_reverse)

[50, 40, 30, 20, 10]

In [14]:
# Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple_example = (10, 20, 30)
print(tuple_example)

(10, 20, 30)

In [15]:
# Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits_tuple = ('apple', 'banana', 'cherry')
first_element = fruits_tuple[0]
print(first_element)

apple

In [16]:
# Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers_tuple = (1, 2, 3, 2, 4, 2)
count_2 = numbers_tuple.count(2)
print(count_2)

3

In [17]:
# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals_tuple = ('dog', 'cat', 'rabbit')
cat_index = animals_tuple.index('cat')
print(cat_index)

1

In [18]:
# Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in fruits
print(is_banana_in_tuple)

True

In [19]:

# Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set_example = {1, 2, 3, 4, 5}
print(set_example)

{1, 2, 3, 4, 5}

In [20]:
# Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set_to_add = {1, 2, 3, 4}
set_to_add.add(6)
print(set_to_add)

{1, 2, 3, 4, 6}

In [34]:
# Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
#repeated

In [33]:

# Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
#repeated

In [32]:
# Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
#repeated

In [31]:

# Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
#repeated

In [30]:
# Q22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
#repeated

In [29]:
# Q23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
#repeated

In [28]:
# Q24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
#repeated